/*
LIBRARIES
*/
@import url("//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css");
@import url("//fonts.googleapis.com/css?family=Oxygen:400,700,300");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

/*
GLOBAL
*/
body {
    color: #5f5f5e;
    background-color: #e4e3e0;
    border-top: 7px solid #789401;
    border-bottom: 7px solid #789401;
    font-family: Oxygen, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: #789401;
    font-weight: 300;
    text-transform: uppercase;
}

h2, h3 {
    margin-bottom: 10px;
}

h2 {
    font-size: 1.3em;
}

h4 {
    font-size: 0.8em;
    margin-top: 1.3em;
    margin-bottom: 0;
}

p {
    margin-top: 5px;
    margin-bottom: 20px;
}

a:link, a:visited {
    color: #a0c502;
    font-weight: 500;
    text-decoration: none;
}

a:hover, a:active {
    color: #789401;
}

/*
    Vertical signature
*/
#vertical-signature {
    left: 40px;
    bottom: 10px;
    position: fixed;
    transform: rotate(270deg);
    transform-origin: top left 0;
}

/*
LAYOUT
*/
.container {
    width: 85%;
    margin: auto;
    max-width: 950px;
}

.container.full-width {
    max-width: 1400px;
}

.clearfix {
    overflow: hidden;
}

/*
    Header
*/
header img {
    float: left;
}

/*
NAVIGATION
*/
nav ul {
    float: right;
    list-style-type: none;
    padding: 20px 80px 20px 0;
}

nav ul li {
    display: inline;
    text-align: center;
    margin-right: 20px;
    text-transform: uppercase;
}

nav ul li a:link, nav ul li a:visited {
    color: #5f5f5e;
    font-weight: 500;
    padding: 0 10px 7px;
    text-decoration: none;
}

nav ul li.active a:link, nav ul li.active a:visited {
    color: #789401;
    font-weight: 500;
    border-bottom: 5px solid #789401;
}

nav ul li a:hover {
    color: #789401;
    border-bottom: 5px solid #789401;
}

nav ul li .fa {
    padding-right: 7px;
    border-bottom: none;
}

/*
PORTFOLIO ITEMS MENU
*/
.portfolio-items ul {
    padding: 0;
}

.portfolio-items ul li {
    max-width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    background-color: #747474;
}

.portfolio-items ul li:nth-child(3n) {
    margin-right: 0 !important;
}

.portfolio-items ul li a:link, .portfolio-items ul li a:visited {
    color: white;
    text-decoration: none;
}

.portfolio-items ul li a:link h2, .portfolio-items ul li a:visited h2 {
    color: #a3b017;
}

.portfolio-items ul li h2 {
    padding: 0;
    font-size: 19px;
    margin: 15px 0 0;
    font-weight: 500;
}

.portfolio-items ul li p {
    padding: 0;
    margin-top: 3px;
    font-size: 16px;
    font-weight: 300;
}

.portfolio-items ul li h2, .portfolio-items ul li p {
    padding: 0 20px;
}

/*
INDIVIDUAL PORTFOLIO ITEMS
*/
.item-page h1 {
    margin-bottom: 0;
}

.item-page h2 {
    margin-top: 7px;
}

.item-page .item-images {
    width: 75%;
    float: left;
}

.item-page .item-images img {
    width: 95%;
    max-width: 100%;
}

.item-page .item-images img {
    margin-bottom: 50px;
}

.item-page .item-description {
    width: 25%;
    float: left;
    margin-top: -25px;
}

.item-page .item-description ul {
    padding: 0;
    list-style: none;
}

.item-page .item-description ul li {
    margin-bottom: 25px;
}

.item-page .item-description h3 {
    width: auto;
    display: inline;
    font-size: 17px;
    margin-bottom: 0;
}

.item-page .item-description p {
    font-size: 15px;
    display: inline;
}

.item-page .item-description a:link, .item-page .item-description a:visited {
    color: #789401;
}

.item-page .item-description a:hover, .item-page .item-description a:active {
    color: #a0c502;
}

/*
ABOUT ME
*/
#work {
    width: 67%;
}

/*
CONTACT PAGE
*/
.contact-page #wrapper {
    color: #e4e3e0;
    margin-bottom: 0;
    padding: 20px 0 80px;
    background-color: #515151;
}

.contact-page #vertical-signature {
    color: #e4e3e0;
}

.contact {
    width: 37%;
    float: left;
}

.contact h1 {
    margin-top: 0;
}

.contact .contact-info {
    padding-left: 0;
    list-style: none;
}

.contact .contact-info li {
    margin-bottom: 15px;
}

.contact .contact-info li .fa {
    width: 30px;
    margin-right: 15px;
    text-align: center;
}

.contact .contact-info li .fa-at {
    margin-right: 0;
}

/*
CONTACT FORM
*/
.contact-form {
    width: 57%;
    float: left;
    margin: 3.8em 0 0 5%;
}

.contact-form fieldset {
    margin-bottom: 20px;
    border: 1px dotted #789401;
}

.contact-form legend {
    color: #a0c502;
    font-weight: 300;
    padding: 0 15px 0 7px;
    text-transform: uppercase;
}

.contact-form input, .contact-form textarea {
    width: auto;
    color: #515151;
    min-width: 90%;
    padding: 5px 10px;
    margin: 5px 0 10px;
    background-color: #eeeeee;
}

.contact-form input:focus, .contact-form textarea:focus {
    border-color: red;
}

.contact-form button {
    border: none;
    color: white;
    padding: 0.25em 3em;
    border-radius: 0.25em;
    background-color: #789401;
}

/*
ALERTS
*/
.feedback {
    text-align: center;
}

/*
MAP
*/
#map-canvas {
    width: 900px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*
FOOTER
*/
footer {
    color: #e4e3e0;
    text-align: center;
    background-color: #434343;
}

footer small {
    padding: 32px 0;
}

footer .copyright {
    top: 32px;
    float: left;
    color: #747474;
    font-weight: 300;
    font-size: 0.75em;
    position: relative;
    font-kerning: auto;
}

footer ul {
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
}

footer ul li {
    display: inline;
    padding-right: 30px;
}

footer .fa {
    font-size: 1.6em;
}

/*
UTILITIES
*/
.image-left {
    margin-right: 40px;
}

.image-right {
    margin-left: 40px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.list-unstyled {
    list-style-type: none;
}